@use '../../scss/colors' as *;
@use '../../scss/mixins' as *;

.about {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background: $thirdColor;

  .bio {
    padding: 0rem 5rem 5rem;
    font-size: 2rem;
    @include MediaQuery('sm') {
      padding: 0rem 1.2rem 1.2rem;
      font: {
        size: 1.3rem;
      }
    }
  }
}
